<%- include ('partials/head.html') %>
<%- include ('partials/header.html') %>
<main class="text-white"> 
    <div class="container container-main my-5 p-3 bg-dark text-center feedback">
        <i class="fas <%- type_feedback %> feedback"></i>
        <h2><%- message %></h2>
    </div>
</main>
<%- include ('partials/final-part.html') %>