<%- include ('partials/head.html') %>
<%- include ('partials/header.html') %>
<main class="text-white">
    <div class="container my-5 container-main p-3 bg-dark">
        <div class="row">
            <div class="col-md-6 my-2">
                <% if(currentProduct.image != null){%>
                <figure class="imghvr-hinge-right">
                    <img class="w-100" src="/img/products/<%- currentProduct.image %>" alt="<%- currentProduct.name + ' ' + currentProduct.brand + ' ' + currentProduct.year %>">
                    <figcaption class="bg-secondary">
                        <h2>Copyright</h2>
                        <p>This image is the property of Amazon</p>
                    </figcaption>
                </figure>       
                <% } else { %>
                <form action="/upload-image/<%- currentProduct._id %>" method="POST" enctype="multipart/form-data">  
                <h2>Add an image</h2>
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Image</span>
                    </div>
                    <input required name="image" type="file" class="form-control" aria-label="Image" aria-describedby="image" accept="image/png, .jpeg, .jpg, image/gif">
                </div>
                <button type="submit" class="btn btn-primary w-100">ADD IMAGE</button>
                </form>  
                <% } %>
            </div>
            <div class="col-md-6 my-2">
                <h2><b class="text-warning">Name:</b> <%- currentProduct.name %></h2>
                <h2><b class="text-warning">Brand:</b> <%- currentProduct.brand %></h2>
                <h2><b class="text-warning">Year:</b> <%- currentProduct.year %></h2>
                <h2><b class="text-warning">Description:</b> <%- currentProduct.description %></h2>
                <h2><b class="text-warning">Quantity:</b> <%- currentProduct.quantity %></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my-2">
                <% if (currentProduct.image){ %>
                <form action="/upload-image/<%- currentProduct._id %>" method="POST" enctype="multipart/form-data">  
                    <h2>Change the image</h2>
                    <div class="input-group my-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold">Image</span>
                        </div>
                        <input required name="image" type="file" class="form-control" aria-label="Image" aria-describedby="image" accept="image/png, .jpeg, .jpg, image/gif">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">CHANGE IMAGE</button>
                </form>  
                <% } else { %>
                <% } %>
            </div>
            <div class="col-md-6 my-2">
              <a href="/get-all-products" class="btn btn-danger w-100">BACK</a>
            </div>
          </div>
    </div>
</main>
<%- include ('partials/final-part.html') %>